@model ForgotPasswordViewModel
@{
    Layout = null;
}


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Üye Giriş Ekranı</title>
        <!-- Meta tag Keywords -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Classy Register Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
        <script type="application/x-javascript">
             addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- Meta tag Keywords -->
        <!-- css files -->
    <link href="~/templates/cleanblog/css/styles.css" rel="stylesheet" />
        <link href="~/templates/login/css/style.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <!-- //css files -->
        <!-- online-fonts -->
        <link href="//fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
        <!--//online-fonts -->
    </head>
    <body>
        <div class="header">
            <h1>ŞİFRE YENİLEME FORMU</h1>
        </div>
        <div class="w3-main">

            <div class="about-bottom main-agile book-form">
                <div class="alert-close"> </div>
                <h2 class="tittle">ŞİFRE YENİLEMEK İÇİN E-POSTA ADRESİNİ GİRİNİZ</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form asp-action="ForgotPassword" asp-controller="Password" method="post" class="mt-3">
                    <div class="form-date-w3-agileits">
                        <div>
                            <label> E-POSTA</label>
                            <input type="email" asp-for="Email" placeholder="E-Posta Adresi Giriniz">
                        </div>

                        <span asp-validation-for="Email" class="text-danger mt-1"></span>



                    </div>
                    <div class="make wow shake mt-3">
                        <input type="submit" value="GÖNDER">
                    </div>
                </form>
            <br />
            @if (ViewBag.status!=null)
            {
                <span class="text-white"> @ViewBag.status   </span>
            }

            </div>

        </div>


        <!-- js-scripts-->
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
        <script>
            $(document).ready(function (c) {
                $('.alert-close').on('click', function (c) {
                    $('.main-agile').fadeOut('slow', function (c) {
                        $('.main-agile').remove();
                    });
                });
            });
        </script>
        <!-- //js-scripts-->
    </body>
</html>


