<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Date and Time Picker a  Flat Resposive Widget Template | Home :: w3layouts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Date and Time Picker Responsive Widget, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--fonts-->
        <link href='//fonts.googleapis.com/css?family=Ubuntu:400,500,700,300' rel='stylesheet' type='text/css'>
		<!--fonts-->
        <!--light-box-css-->
		<!--bootstrap-->
			 <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <!--Date-Time-pickercss-->
            <link href="css/bootstrap-datetimepicker.css" rel="stylesheet">
		<!--coustom css-->
			<link href="css/style.css" rel="stylesheet" type="text/css"/>
		<!--default-js-->
			<script src="js/jquery-2.1.4.min.js"></script>
		<!--bootstrap-js-->
			<script src="js/bootstrap.min.js"></script>
		<!--script-->
            <script src="js/moment-with-locales.js"></script>
			<script src="js/bootstrap-datetimepicker.js"></script>
        <!--move-top-js-->
        
        <!--script-roll-->
    </head>
    <body>
       
        <div class="calender-element">
            <div class="form-group">
                <div class="input-group date modi_fic" id="datetimepicker1">
                    <input type='text' class="form-control modi_fic_srch" />
                    <span class="input-group-addon btn-bg">
                        <span class="glyphicon glyphicon-calendar cal-form"></span>
                    </span>
                </div>
            </div>
            <!--//script-->
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
            <!--//script-->
        </div>
     
    </body>
</html>
