
@{
    ViewData["Title"] = "E-posta Doğrulma";
    Layout = null;

}


<!DOCTYPE html>
<html>
<head>
    <link href="~/templates/cleanBlog/css/styles.css" rel="stylesheet" />
</head>
<body style=" background:url(../images/1.jpg) fixed;
    background-size: cover;
	text-align:center;">


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-8 offset-2 text-center alert alert-success">
            <h1> @ViewBag.Status</h1>
        </div>

    </div>

    <div class="row">


        <div class="col-lg-8 offset-2 text-center ">
            <h3> <a asp-controller="LogIn" asp-action="LogIn" class="btn btn-primary">Giriş Yap </a></h3>
        </div>
    </div>


</body>
</html>