@{
    ViewData["Title"] = "E-posta Doğrulma";
    Layout =null;
    
}


<!DOCTYPE html>
<html>
    <head>
    <link href="~/templates/cleanBlog/css/styles.css" rel="stylesheet" />
    </head>
<body style=" background:url(../images/1.jpg) fixed;
    background-size: cover;
	text-align:center;" >


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row ">
        <div class="col-lg-8 offset-2 text-center alert alert-success">
            <h1>
                E-posta doğrulama linki e-posta adresninize gönderilmiştir. <br />
                Giriş yapmak için e-posta adresiniz doğrulayınız.
            </h1>
        </div>


    </div>


</body>
</html>