@model AppUserViewModel

@{
    ViewData["Title"] = "SignIn";
    Layout = null;
}


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Üye Giriş Ekranı</title>
  
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
        <link href="~/templates/login/css/style.css" rel="stylesheet" />
   
        <link href="//fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
  

        <link href="~/templates/login/css/datetimelocal.css" rel="stylesheet" />
        <link href="~/templates/cleanBlog/css/styles.css" rel="stylesheet" />

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </head>
    <body>
        <div class="header">
            <h1 class="text-center">Üye GİRİŞ Formu</h1>
        </div>
        <div class="w3-main">

            <div class="about-bottom main-agile book-form">
            
                <h2 class="tittle">ÜYE OL</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form asp-action="SignIn" asp-controller="SignIn" method="post" class="mt-3">
                    <div class="form-date-w3-agileits">
                        <div>
                            <label> E-EPOSTA</label>
                            <input type="email" asp-for="Email" placeholder="E-Posta Adresi Giriniz">
                        </div>

                        <span asp-validation-for="Email" class="text-danger mt-1"></span>

                        <div class="mt-3">
                            <label> ŞİFRE </label>
                            <input type="password" asp-for="Password" placeholder="Şifrenizi Giriniz">
                        </div>

                        <span asp-validation-for="Password" class="text-danger"></span>

                        <div class="mt-3">
                            <label> KULLANICI ADI </label>
                            <input type="text" asp-for="UserName" placeholder="Kullanıcı Adını Giriniz">
                        </div>

                        <span asp-validation-for="UserName" class="text-danger"></span>

                        <div class="mt-3">
                            <label> İSİM </label>
                            <input type="text" asp-for="Name" placeholder="Adınızı Giriniz">
                        </div>

                        <span asp-validation-for="Name" class="text-danger"></span>

                        <div class="mt-3">
                            <label> SOYAD </label>
                            <input type="text" asp-for="Surname" placeholder="Soyadınız Giriniz">
                        </div>

                        <span asp-validation-for="Surname" class="text-danger"></span>

                        <div class="mt-3 row">
                            <div class="col-lg-12">

                                <label> DOĞUM GÜNÜ </label>
                                <input  type="datetime-local" asp-for="BirthDay">
                            </div>




                          

                        </div>

                        <span asp-validation-for="BirthDay" class="text-danger"></span>


                        <div class="mt-3">
                            <label> TELEFON </label>
                            <input type="text" asp-for="PhoneNumber" placeholder="Telefon Numarınızı Giriniz">
                        </div>

                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                        <div class="mt-3 row">
                            <div class="col-lg-12
">  <a class="text-white" asp-action="LogIn" asp-controller="LogIn">Zaten hesabım var !</a></div>
                          

                        </div>

                    </div>
                    <div class="make wow shake mt-3">
                        <input type="submit" value="ÜYE OL">
                    </div>
                </form>
            </div>

        </div>



    </body>
</html>

