@model PasswordChangeViewModel
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}



@if (ViewBag.msg == null)
{
<h3 class="text-center mt-3">Şifre Güncelleme Formu</h3>
<div class="row">
    <div class="col-md-8 offset-2">
        <form asp-action="PasswordChange" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="PasswordOld" class="control-label"></label>
                <input asp-for="PasswordOld" placeholder="Eski Şifrenizi Giriniz" class="form-control" />
                <span asp-validation-for="PasswordOld" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="PasswordNew" class="control-label"></label>
                <input asp-for="PasswordNew" placeholder="Yeni Şifrenizi Giriniz" class="form-control" />
                <span asp-validation-for="PasswordNew" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="PasswordConfirm" class="control-label"></label>
                <input asp-for="PasswordConfirm" placeholder="Yeni Şifrenizi Tekrar Giriniz" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Şifre Değiştir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
}
else
{
    <div class="alert alert-success col-lg-8 offset-2 mt-5 text-center">
        <h3><strong>Başarılı!</strong> @ViewBag.msg</h3>
    </div>
    
}