<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="index.html">MyBlog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">

                @if(User.Identity.Name==null)
                {
                 
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-action="LogIn" asp-controller="LogIn">Giriş Yap</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-action="SignIn" asp-controller="SignIn">Üye Ol</a></li>
                }
                else
                {

                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="Manager" asp-controller="Post" asp-action="MyPost">Manager</a></li>
                    @if (User.Claims.Any(x => x.Value == "Ankara"))
                    {
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-action="AnkaraPage" asp-controller="Home">Ankara</a></li>
                    }

                }
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
               
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-controller="Contact" asp-action="Index" >İletİşİm</a></li>
                     @if(User.Identity.Name!=null)
                {
                 
                <li class="nav-item"><a asp-area="" asp-controller="LogOut" asp-action="LogOut" class="nav-link  px-lg-3 py-3 py-lg-4">Çıkış Yap</a></li>
                }
            </ul>
        </div>
    </div>
</nav>